.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background: rgba(0, 16, 61, 0.48);
    visibility: hidden;
    transition: 0.5s;
  
    .modal_content {
      background: #ffffff;
      border: 1px solid #e6e6e6;
      border-radius: 5px;
      margin: 60px auto;
      padding: 32px;
      font-family: "Inter";
      font-style: normal;
      h1 {
        font-weight: 500;
        font-size: 30px;
        line-height: 140%;
        margin: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        label {
          font-weight: 500;
          font-size: 16px;
          line-height: 160%;
          color: #838383;
          textarea {
            border: 1px solid #d5d5d5;
            border-radius: 5px;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
          }
        }
  
        .buttons {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
  
  .modal.active {
    visibility: visible;
  }