.registration{
    width: 400px;
    height: 382px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;

    h1{
        font-weight: 500;
        font-size: 30px;
        line-height: 140%;
        text-align: center;
        color: #000000;
        margin-bottom: 25px;
    }

    .message{
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #F11515;
    }
}

@media (max-width: 500px) {
    .signIn_main{
        border: none;
        margin: 0 auto;
    }
}